.search {
  border: 2px solid black;
  outline: none;
  padding: 10px;
  width: 20rem;
}

.search-container {
  display: flex;
  justify-content: center;
  margin: 2.5rem auto;
  width: fit-content;
}
