.card-container {
  display: flex;
  flex-direction: column;
  border: 8px solid #fff;
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer;
  will-change: transform;
  transition: transform 450ms;
  text-align: center;
  background-color: rgb(255, 140, 0);
  &:hover {
    transition: transform 150ms;
    transform: translateY(-5px);
  }
}

.monster-name {
  font-size: 2rem;
  color: #fff;
}

.monster-email {
  font-size: 1.3rem;
  color: rgb(255, 255, 255);
  font-weight: 300;
}
