@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  background-color: rgb(65, 77, 144);
  font-family: "Inter", sans-serif;
}
.title {
  text-align: center;
  font-size: 3.5rem;
  color: #fff;
}
